@font-face {
    font-family: "ar";
    src: url("../fonts/Archivo/Archivo-Regular.ttf") format("truetype")     
}
@font-face {
    font-family: "am";
    src: url("../fonts/Archivo/Archivo-Medium.ttf") format("truetype")     
}
@font-face {
    font-family: "ab";
    src: url("../fonts/Archivo/Archivo-Bold.ttf") format("truetype")    
}
@font-face {
    font-family: "ai";
    src: url("../fonts/Archivo/Archivo-Italic.ttf") format("truetype")    
}