@font-face {
    font-family: "rr";
    src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype")     
}
@font-face {
    font-family: "rb";
    src: url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype")    
}
@font-face {
    font-family: "ri";
    src: url("../fonts/Rubik/Rubik-Italic.ttf") format("truetype")    
}
@font-face {
    font-family: "am";
    src: url("../fonts/Archivo/Archivo-Medium.ttf") format("truetype")     
}
@font-face {
    font-family: "ab";
    src: url("../fonts/Archivo/Archivo-Bold.ttf") format("truetype")    
}
