.contacts {
    margin-bottom: 55px;
    padding-top: 65px;
    &__title {
        margin-bottom: 80px;
    }
    
    &__form-title {
        font: 20px rb;
        margin-bottom: 100px;
    }
    &__soc {
        display: flex;
        justify-content: flex-end;
     
        a{
            margin-left: 90px;
        }
    }
    .form-group {
        position: relative;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        label {
            position: absolute;
            left: 15px;
            top: 20px;
            transition: 0.2s;
            font-size: 22px;
            letter-spacing: 5px;
        }
        select {
            font-size: 22px;
            letter-spacing: 5px;
            padding-left: 0;
            color: $vn_black;
        }
        input {
            font-size: 22px;
            letter-spacing: 5px;
            padding-left: 0;
            color: $vn_black;
        }

    }
    .form-control {
        background: none;
        border: none;
        border-bottom: 1px solid $vn_black;
        border-radius: 0;
        box-shadow: none;
        outline: none;

       
        &:focus {
            outline: none;

            &+label {
                top: 0;
                font-size: 16px;
                letter-spacing: 0px;
            }
        }
    }
}

.contacts-address {
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 30px;
    }
    &__title {
        font: 20px rb;
        margin-bottom: 40px;
    }
    &__address {
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__phone {
        font-size: 20px;
        margin-bottom: 15px;

        span {
            font: 20px rb;   
        }
    }
    &__fax {
        font-size: 20px;
        margin-bottom: 15px;

        span {
            font: 20px rb;   
        }
    }

}

.map {
    #map {
        height: 575px;
    }
}

@media (max-width: 991px){
    .contacts {
        padding-top: 30px;

        &__title {
            margin-bottom: 40px;
        }
        &__form {
            margin-bottom: 40px;
        }
        &__form-title {
            margin-bottom: 40px;
        }
        &__soc {
            justify-content: center; 
            a {
                margin: 0 45px;
            }
        }
    }
    .contacts-address{
        text-align: center;
    }
    .map {
        #map {
            height: 450px;
        }
    }
}

@media (max-width: 640px){
    .contacts {
        &__soc {
            a {
                margin: 0 20px;
            }
        }
    }
}